/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}


header {
    background-color: #387e3a;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Contenedor del logo */
.logo-carousel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

.logo-carousel-inner .carousel-item img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.logo-carousel + .text-center .btn {
    margin-top: 15px;
    width: 200px; 
}

.btn-custom {
    background-color: #387e3a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #45a049;
}


.carousel-item img {
    object-fit: cover;
    height: 500px;
    filter: brightness(0.9);
    transition: transform 0.5s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.05); 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}


.carousel-control-prev, 
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%); 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .carousel-item img {
        height: 300px;
    }

    .logo-carousel {
        width: 150px;
        height: 150px;
    }

    .logo-carousel-inner .carousel-item img {
        width: 150px;
        height: 150px;
    }

    .logo-carousel + .text-center .btn {
        width: 150px; 
    }
}
